* {
  padding: 0;
  margin: 0;
}
body {
  background: bisque;
  height: 100%;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 100px 0;
}
a {
  width: 530px;
  margin: 50px auto;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 20px;
  color: red;
  text-shadow: 1px 1px black;
}
section {
  border-radius: 5px;
  background: transparent;
}

button {
  width: 220px;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;  
  margin: 10px;
  cursor: pointer;
  font-weight: 700;
}
.t-main-wrapper {
  margin: 0 auto;
}
.t-hello-page, .t-gameplay {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.t-gameplay a {
  letter-spacing: 5px;
  font-size: 20px;
  font-family: sans-serif;
  width: 270px;
}
.t-gameplay__container {
  display: inline-flex;
  width: 440px;
  flex-wrap: wrap;
  margin: 0 auto
}
.flip-container {
  perspective: 1000;
}
  
.flip-container.clicked .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  background: red;
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
  background: black;
}
.t-gameplay__card {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
}
.t-gameplay__level {
  margin: 20px;
  font-size: 20px;
}
